{% extends "layout.html" %}
{% block title %}Item-List{% endblock %}

{% block body %}
<div class="flex justify-end">
    <button class="bg-blue-400 hover:bg-blue-600 text-black hover:text-white text-lg px-4 py-2 rounded-2xl">
        <a href="/item-create">Add</a>
    </button>
    </div>
<table class="border-collapse table-fixed border border-gray-400">
    <thead>
        <th class="border border-gray-500 bg-gray-300 px-4 py-4 m-3">Item Name</th>
        <th class="border border-gray-500 bg-gray-300 px-4 py-4 m-3">Quantity</th>
        <th class="border border-gray-500 bg-gray-300 px-4 py-4 m-3">Unit Price</th>
        <th class="border border-gray-500 bg-gray-300 px-4 py-4 m-3">Update</th>
        <th class="border border-gray-500 bg-gray-300 px-4 py-4 m-3">Delete</th>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="border border-gray-300 px-4 py-3 m-3">{{ item.item_name }}</td>
            <td class="border border-gray-300 px-4 py-3 m-3">{{ item.quantity }}</td>
            <td class="border border-gray-300 px-4 py-3 m-3">{{ item.unit_price }}</td>
            <td class="border border-gray-300 px-4 py-3 m-3">
                <a class="text-blue-700" href="">Update</a>
            </td>
            <td class="border border-gray-300 px-4 py-3 m-3">
                <a class="text-red-700" href="">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}